.messaging-wrapper {
  display: flex;
  height: 100vh;
}

.channels-container {
  padding: 20px;
  width: 220px;
  height: 100vh;
  background: #f4f4f4;
  box-sizing: border-box;
}

.channel-editor {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  height: 90px;
  border-top: 1px solid #f4f4f4;
}

.channel-content {
  padding: 20px 20px 0 28px;
  box-sizing: border-box;
  height: 100%;
  overflow: scroll;
}
