.channels-container {
  padding: 30px;
  width: 13vw;
  height: 100vh;
  background: #4a3848;
  box-sizing: border-box;
  border-left: 2px solid white;
}

.channels-container > p.active {
  font-weight: 600;
  color: white;
}

.channels-container > p {
  color: white;
  color: #bababa;
  padding-left: 5px;
  cursor: pointer;
}

.message-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.thread {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 70%;
  padding: 10px 10px 0 10px;
}

.message-list {
  height: 90vh;
  width: 100%;
  overflow: scroll;
}

.message-content {
  width: 100%;
}

.message-content > p.thread-content {
  width: fit-content;
  word-wrap: break-word;
  color: white;
  padding: 5px 15px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 10px;
  background: #94C2ED;
}

.message-content > i {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.message-content > small {
  position: relative;
  margin-left: 10px;
  font-style: italic;
  font-size: 10px;
  opacity: 0.6;
}

/*.es_componentWrapper__1-bJI {

}

.es_listWrapper__4792f {

}*/

.SearchForm_form__2QcwN > .SearchForm_input__EgnQX {
  width: 100%;
}

.message-form {
  display: flex;
  padding: 10px 0;
  box-sizing: border-box;
  height: 10%;
  border-top: 2px solid #f4f4f4;
}

input[type="text"] {
  padding: 10px;
  margin-right: 5px;
  width: 95%;
  height: 100%;
  border-radius: 2px;
  border-color: #d4d4d4;
}

img {
  margin-bottom: 10px;
}

.info {
  width: 30%;
}
