.messaging-wrapper {
  display: flex;
  margin-top: 70px;
}

.channels-container {
  margin-left: 5px;
  padding: 30px;
  width: 15vw;
  height: 88vh;
  background: #f4f4f4;
  box-sizing: border-box;
}

.channels-container > p.active {
  font-weight: 600;
  color: black
}

.message-container {
  padding: 20px 20px 0 28px;
  height: 100%;
  overflow: scroll;
}

.message-container > i {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.message-container > i > small {
  position: relative;
  margin-left: 10px;
  font-style: italic;
  font-size: 10px;
  opacity: 0.6;
}

.message-container > i > small::before {
  content: "-";
  position: absolute;
  top: -1px;
  left: -7px;
}

.message-container > p {
  margin: 5px 0 10px;
}

.messages-content {
  height: 75vh;
}

.message-form {
  display: flex;
  padding-top: 10px;
  box-sizing: border-box;
  height: 10vh;
  width: 80vw;
  border-top: 1px solid #f4f4f4;
}

input[type="text"] {
  padding: 10px;
  width: 95%;
  height: 100%;
  border-radius: 2px;
  border-color: #d4d4d4;
}

button {
  padding: 10px 17px;
  margin-top: 5px;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  border: none;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
