@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .app, #root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
}

.app-wrapper {
  display: flex;
}
